/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face{
    font-family: "Poppins";
    src: url("Fonts/Poppins-Regular.woff2"), url("Fonts/Poppins-Regular.woff");
    
}

@font-face {
    font-family: "Poppins";
    src: url("Fonts/Poppins-Italic.woff2"), url("Fonts/Poppins-Italic.woff");
    font-style: italic;
}

@font-face {
    font-family: "Poppins";
    src: url("Fonts/Poppins-Bold.woff2"), url("Fonts/Poppins-Bold.woff");
    font-weight: bold;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #FEFDFD;
}


.header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
    
}









.textPrincipal{
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 30px;
    font-style: italic;
}

.containerStory{
    display: flex;
    align-items: center;
    min-height: 125px;
    overflow: auto;
    margin-top: 10px;
    gap: 10px;

    
    
   
   
}



.storiesImg{
    width: 75px;
    height: 75px;
    background-color: grey;
    border-radius: 50%;
    
    
    
}

.storiesimgLive{
    width: 75px;
    height: 75px;
    background-color: grey;
    border-radius: 50%;
    border: 2px solid #7A2E15;
    
    
    
}

.storiesimgLive Img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.status p{
    color: #7A2E15;
    font-weight: bolder;
    
}

.containerstoryBlock{
     text-align: center;
     
}



.textStory{
    font-size: 12px;
}





.information{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
    
}

.informationRight{
    display: flex;
}
.profileName{
    color:#519259;
    
    
}

.date{
    font-style: italic;
    color: #7C7D7C;
    font-size: 12px;
    
    
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

}

.partagerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.partagerLogo{
    display: flex;
    align-items: center;
    
}

.card{
    
   
    padding: 10px;  
}



.logoFollow{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.photoRecette{
    width: 330px;
    height: 330px;
    border-radius: 6px;
    position: relative;
    
    

}

.photoRecette .imageRecette{
    width: 330px;
    height: 330px;
    border-radius: 6px;
    object-fit: cover;

}
.logoFavoris{
    position: absolute;
    
    
}
.photoProfile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    
}

.photoProfile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}



.recetteDescription {
    display: flex;
    justify-content: space-between;
    

}

.point{
    width: 84px;
    height: 40pxs;
    background-color: #FFD741;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.point p{
    font-size: 22px; 
    color: white;
    font-weight: bolder;
    
}

.logoRadcoin{
    display: flex;
    align-items: center;
    
}

.descriptionUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nomRecette{
    color: black;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 5px;
}

.descriptionRecette{
    color: #7C7D7C;
    font-style: italic;
    font-size: 12px;
}

.textSecondaire{
    padding: 30px;
}

.textSecondaire h1{
    color: white;
    font-size: 20px;
}

.mediaContainer{
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    height: 30px;
    width: 85%;
    position: fixed;
    bottom: 70px;
    left: 28px;

    

}

.photo_video{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.21);
    width: 70%;
    height: 100%;

    
}

.photoBox{
    background-color: #519259;
    border-radius: 16px;
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.videoBox{
    background-color: #519259;
    border-radius: 16px;
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    

}

.add{
    width: 20%;
    height: 100%;
    border-radius: 16px;
    background-color: #519259;
    cursor: pointer;
}

.add p{
    display: flex;
    justify-content: center;
    padding-top: 7px;
    color: white;
    
}


.inputContainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;

    
}



input::placeholder{
    color: #7C7D7C;
    font-style: italic;
    font-size: 14px;
    background-color: #FEFDFD;
    
    
    
    
}

input.Search{
    border: 1px solid #519259;
    border-radius: 6px;
    height: 30px;
    width: 300px;
    background-color: #FEFDFD;
    
    
}

.searchBtn{
    border: none;
    background-color: #FEFDFD;
    
}

.photos_videos_nav ul{
    display: none;
    
}

.cardcontainerChallenge{
    
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
}

.defisBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    
}



.defisItems{
    background-color: #FA8C4B;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    
    
    

}

.photoDefis{
    width: 300px;
    height: 220px;
    position: relative;
    cursor: pointer;
    
}

.photoDefis .imageDefis{
    width: 300px;
    height: 220px;
    object-fit: cover;

}

.defisDescription{
    display: flex;
    max-width: 300px;
    max-height: 50px;
    background-color: white;;
}

.logofavorisTemps{
    display: flex;
    justify-content: center;
    position: relative;
    top: 5%;
    z-index: 10;
    position: absolute;
    gap: 137%;
    left: 30%;
}

.logofavoristempsDefis{
    display: flex;
    justify-content: center;
    position: relative;
    top: 5%;
    z-index: 10;
    position: absolute;
    gap: 120%;
    left: 30%;
}
.defisBlock h1{
    margin-bottom: 10px;
    text-align: center;
    color:#FA8C4B;
    font-weight: bold;
}

.defisitemsContainer p{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

.moreInformations{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.moreInformations p{
    font-style: italic;
    color: #7C7D7C;
    margin-right: 9px;
    
}

.navHeader{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    z-index: 15;
    
    
}

.defisitemsContainer{
    
    border: 1px solid #FA8C4B;
        
}

.navHeader ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 13%;
    background: rgba(255, 255, 255, 0.17);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.21);
    
}

.prix{
    display: flex;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 10vh;
    gap: 14%;
    margin-inline: auto;
}




.headerPrincipale{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
}

.participerBtn{
    background-color:#FA8C4B;
    color: white;
    border-radius: 6px;
    
    padding: 10px;
    border: none;
    margin-bottom: 30px;
    font-size: 16px;
}

.cookerContainer{
    display: none;

}

.cooker{
    display: none;

}

.copyright{
    display: none;
}


@media (min-width: 500px){

    .containerStory{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;   
    }

}



@media (min-width: 800px){

    .navBottom{
        display: none;
        
    }

    .mediaContainer{
        display: none;
    }

    .card{
        margin: 30px;
        display: flex;
        flex-direction: column;
    }

    .photos_videos_nav ul{
        justify-content: center;
        margin-top: 30px;
        display: flex;
        gap: 120px;

        
    }


    .photosNav{
        display: flex;
        align-items: center;
        height: 30px;
        width: 100px;
        border-radius: 6px;
        color: #519259;
        cursor: pointer;
        font-size: 20px;
    }

    .photosNav p{
        font-weight: bold;
    }
    .videosNav{
        
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 20px;
        
    }

    .videosNav:hover{
        color:#519259;
    }

    .add_nav{
        display: flex;
        align-items: center;
        cursor: pointer;
        
    }
    .add_nav:hover{
        color: #519259;
    }

    .cardcontainerChallenge{
        width: 100%;
        display: flex;
        justify-content: space-evenly;

    }

    .defisitemsContainer{
        width: 30%;
        display: flex;
        justify-content: center;
        
        flex-direction: column;
        
    }

    .defisItems:hover{
        background-color: #FFD741;
        transition: 0,3s;
        cursor: pointer;
    }

    .card:hover{
        -webkit-box-shadow: 0px 12px 21px 3px rgba(53,53,53,0.51); 
        box-shadow: 0px 12px 21px 3px rgba(53,53,53,0.51);  
        cursor: pointer;
    }


    .header {
        justify-content: space-between; 
        
    }



    .logoCookEat{
        order: -1;
    }

    .navHeader{
        width: 20vw;
        position: initial;
        
    }
    

    .navHeader ul{

        display: flex;
        list-style: none;
        justify-content: center;
        gap: 13%;
        box-shadow: 0 0 0 rgb(0 0 0 / 10%);
        cursor: pointer;

    }

    .headerPrincipale{
        gap: 30px;
        cursor: pointer;
    }

   .searchBtn:hover{
    border:1px solid #519259;
    border-radius: 6px;
    transition: 0.3s;
    
    }

    .cookerContainer{
        border: 1px solid #FA8C4B;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 30px;
    
    }
    
    .cooker{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    
    .cookerPhoto{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #7A2E15;
        border: 2px solid #FA8C4B
    }

    .cookerPhoto img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .cookerContainer h1{
        color: #FA8C4B;
        font-weight: bold;
        display: flex;
        justify-content: center;

    }
    .classement p{
        font-size: 14px;
        color: #7C7D7C;
        font-style: italic;
        cursor: pointer;
    }

    .cookerName {
        font-size: 16px;
        font-style: italic;
    }

    .cookerPts{
        font-size: 11px;
        color: #7C7D7C;
        font-style: italic;
    }

    .participerBtn:hover{
        background-color: #FFD741;
        transition: 0.3s;
    }

    .copyright{
        display: flex;
        justify-content: center;
    }

    .moreInformations p{
        cursor: pointer;
        
    }

    .searchBtn {
        cursor: pointer;
    }

    .logoRadcoin{
        cursor: pointer;
    }

    .containerstoryBlock{
        cursor: pointer;
    }

    .cookerPhoto{
        cursor: pointer;
    }
}